<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user/index}" xmlns:th="http://www.w3.org/1999/xhtml">
<body layout:fragment="content">
    <section class="hero">
        <div class="wrapper">
            <div class="mid">
                <div class="desc">
                    <h2>Khai phá khả năng <span>bơi</span> của chính bạn!</h2>
                    <p>Bể bơi <span>NƯỚC SẠCH, HIỆN ĐẠI</span>. Với Công nghệ tiêu chuẩn lọc nước tuần hoàn</p>
                    <div class="cta">
                        <a class="btn btn-success" href="tel:0796783225">Gọi tư vấn</a>
                        <a class="btn btn-outline-primary" href="#">Đăng ký ngay</a>
                    </div>
                </div>
                <div class="placeholder"></div>
            </div>
        </div>
    </section>
    <div class="container marketing mt-5">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-6 fw-bolder" style="color: #076343">Các khóa bơi kèm riêng</h1>
            <p class="fs-6 text-muted">Học bơi tại hồ bơi của bạn, hoặc gần nhà</p>
        </div>
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <a href="#"> <img class="img-course img-fluid rounded-circle" th:src="@{https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-6/218811310_357412522681424_6158990489120782634_n.jpg?_nc_cat=100&cb=99be929b-8d691acd&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeHRRZRFK2d0HvIWNswffLsu7cGjyBAe69vtwaPIEB7r27oP_8omZwugO16HAnQihPSPkE5pynF_6GGmrtPzbyzE&_nc_ohc=nyHaTv7skMQAX-BPbc6&_nc_ht=scontent.fsgn8-3.fna&oh=00_AfBcFAHaFi23HHDLbukFp-8JzE3fcHhswNTM6TjzMP85BA&oe=65E87ADF}" /></a>
                <h3 class="mt-2"><a href="#">Khóa bơi cho trẻ em</a></h3>
                <p>Khóa học bơi kèm riêng cho bé từ 3 tuổi. Học kèm riêng GV chuẩn!</p>
                <p><a class="btn btn-success" href="#">Chi tiết >></a></p>
            </div>
            <div class="col-lg-4">
                <a href="#"> <img class="img-course img-fluid rounded-circle" th:src="@{https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-6/218811310_357412522681424_6158990489120782634_n.jpg?_nc_cat=100&cb=99be929b-8d691acd&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeHRRZRFK2d0HvIWNswffLsu7cGjyBAe69vtwaPIEB7r27oP_8omZwugO16HAnQihPSPkE5pynF_6GGmrtPzbyzE&_nc_ohc=nyHaTv7skMQAX-BPbc6&_nc_ht=scontent.fsgn8-3.fna&oh=00_AfBcFAHaFi23HHDLbukFp-8JzE3fcHhswNTM6TjzMP85BA&oe=65E87ADF}" /></a>
                <h3 class="mt-2"><a href="#">Khóa bơi cho trẻ em</a></h3>
                <p>Khóa học bơi kèm riêng cho bé từ 3 tuổi. Học kèm riêng GV chuẩn!</p>
                <p><a class="btn btn-success" href="#">Chi tiết >></a></p>
            </div>
            <div class="col-lg-4">
                <a href="#"> <img class="img-course img-fluid rounded-circle" th:src="@{https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-6/218811310_357412522681424_6158990489120782634_n.jpg?_nc_cat=100&cb=99be929b-8d691acd&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeHRRZRFK2d0HvIWNswffLsu7cGjyBAe69vtwaPIEB7r27oP_8omZwugO16HAnQihPSPkE5pynF_6GGmrtPzbyzE&_nc_ohc=nyHaTv7skMQAX-BPbc6&_nc_ht=scontent.fsgn8-3.fna&oh=00_AfBcFAHaFi23HHDLbukFp-8JzE3fcHhswNTM6TjzMP85BA&oe=65E87ADF}" /></a>
                <h3 class="mt-2"><a href="#">Khóa bơi cho trẻ em</a></h3>
                <p>Khóa học bơi kèm riêng cho bé từ 3 tuổi. Học kèm riêng GV chuẩn!</p>
                <p><a class="btn btn-success" href="#">Chi tiết >></a></p>
            </div>
        </div>
    </div>
    <div class="container marketing mt-5">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-6 fw-bolder" style="color: #076343">Lợi ích của việc học bơi</h1>
            <p class="fs-6 text-muted">Bạn hoàn toàn có thể học bơi ở bất kỳ độ tuổi nào <br />
                Học bơi là một kỹ năng sử dụng cho suốt đời!</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="service-item d-flex flex-column flex-sm-row rounded h-100 p-4 p-lg-5" style="background-color: #e3f2fd">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa-solid fa-person-swimming fa-2x"></i>
                    </div>
                    <div class="ms-sm-4 text-sm-start">
                        <h4 class="mb-3">Tăng cường sức khỏe</h4>
                        <span>Bơi lội là môn thể thao ít va chạm, và chấn thương. Bơi giúp cải thiện tim mạch, cơ bắp và tăng cường sức khỏe tổng trạng</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="service-item d-flex flex-column flex-sm-row rounded h-100 p-4 p-lg-5" style="background-color: #e3f2fd">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa-solid fa-check fa-2x"></i>
                    </div>
                    <div class="ms-sm-4 text-sm-start">
                        <h4 class="mb-3">Tăng sự an toàn</h4>
                        <span>Khi bạn biết bơi, bạn biết cách xử lý trong môi trường nước sâu và giảm thiểu khả năng đuối nước. Bơi lội còn tăng sức bền cho cơ thể.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="service-item d-flex flex-column flex-sm-row rounded h-100 p-4 p-lg-5" style="background-color: #e3f2fd">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa-solid fa-weight-scale fa-2x"></i>
                    </div>
                    <div class="ms-sm-4 text-sm-start">
                        <h4 class="mb-3">Kiểm soát cân nặng</h4>
                        <span>Bơi lội là phương pháp hữu hiệu để đốt cháy năng lượng toàn thân, giúp giảm mỡ thừa và kiểm soát cân nặng hiệu quả</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="service-item d-flex flex-column flex-sm-row rounded h-100 p-4 p-lg-5" style="background-color: #e3f2fd">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa-solid fa-star fa-2x"></i>
                    </div>
                    <div class="ms-sm-4 text-sm-start">
                        <h4 class="mb-3">Giảm stress</h4>
                        <span>Biết bơi giúp bạn thư giãn và tập trung tâm trí vào bài tập bơi, từ đó giảm căng thẳng và thư giãn hệ thần kinh.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="service-item d-flex flex-column flex-sm-row rounded h-100 p-4 p-lg-5" style="background-color: #e3f2fd">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa-solid fa-shield-heart fa-2x"></i>
                    </div>
                    <div class="ms-sm-4 text-sm-start">
                        <h4 class="mb-3">Giảm mắc bệnh mãn tính</h4>
                        <span>Bơi lội thường xuyên giúp bạn giảm thiểu rủi ro của các bệnh mãn tính như tim mạch, béo phì, tiểu đường và đột quỵ.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="service-item d-flex flex-column flex-sm-row rounded h-100 p-4 p-lg-5" style="background-color: #e3f2fd">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa-regular fa-face-laugh-beam fa-2x"></i>
                    </div>
                    <div class="ms-sm-4 text-sm-start">
                        <h4 class="mb-3">Sự thích thú và thỏa mãn</h4>
                        <span>Bơi lội không những giúp cơ thể khỏe mạnh, dẻo dai mà còn giúp tiết hooc-môn hạnh phúc (endorphin) giúp thư giãn, sảng khoái và hồi phục cơ thể!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row recommends featurette mt-5 mx-0" style="background-color: #244785">
        <div class="col-md-6 d-flex align-items-center">
            <p class="border-4 border-start ps-3 text-white" style="text-align: justify">Hồ bơi phù hợp cho cả các bé và người lớn. Các bạn hồ bơi hỗ trợ nhiệt tình. Những ngày đầu chưa kịp mua kính bơi được các bạn hỗ trợ kính để bảo vệ mắt. Highly recommend cho mấy bé bơi và học tập ở đây.
            <br />
                The swimming pool is suitable for both children and adults. The pool staff are very supportive. During the initial days before purchasing swimming goggles, they provide goggles to protect the eyes. Highly recommend for children to swim and learn here.
                <span style="color: #FFF864; font-weight: 500">Ha Nguyen, review tại fanpage chúng tôi.</span>
            </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img th:src="@{/assets/img/recommends.png}" alt="recommends" class="img-fluid rounded-3" />
        </div>
    </div>

    <div class="container marketing mt-5">
        <div class="row featurette mt-5">
            <div class="col-md-6 order-md-2">
                <div class="pricing-header mx-auto">
                    <h3 class="fw-bolder" style="color: #076343">Đặc điểm các lớp bơi kèm riêng</h3>
                    <p class="fs-6 text-muted">Tại CBD, chất lượng lớp bơi là ưu tiên hàng đầu của chúng tôi</p>
                </div>
                <div class="list-widget">
                    <ul class="elementor-items">
                        <li class="elementor-item"><i class="icon-check fa-solid fa-circle-check"></i>Học bơi cam kết chất lượng: Biết bơi 100% đảm bảo!</li>
                        <li class="elementor-item"><i class="icon-check fa-solid fa-circle-check"></i>Giáo viên 1 kèm 1 xuống hồ cùng bạn!</li>
                        <li class="elementor-item"><i class="icon-check fa-solid fa-circle-check"></i>Lịch học linh động: 2-3 buổi/tuần; 1h/buổi</li>
                        <li class="elementor-item"><i class="icon-check fa-solid fa-circle-check"></i>Giáo viên có bằng cấp chuyên môn Bơi lội, Cứu hộ</li>
                        <li class="elementor-item"><i class="icon-check fa-solid fa-circle-check"></i>Có cả HLV Nam và Nữ</li>
                        <li class="elementor-item"><i class="icon-check fa-solid fa-circle-check"></i>Được đổi lịch học, đổi giáo viên nếu không hài lòng</li>
                    </ul>
                </div>
                <a href="tel:0796783225" class="btn btn-success" style="margin: 0 0 10px 25px">Tư vấn cho tôi</a>
            </div>
            <div class="col-md-6 order-md-1">
                <img th:src="@{/assets/img/hoc-boi-1.jpg}" alt="hoc-boi-1" class="img-fluid rounded-3" />
            </div>
        </div>
    </div>

    <div class="container marketing mt-5">
        <div class="row featurette mt-5">
            <div class="col-md-6 order-md-2">
                <div class="pricing-header mx-auto">
                    <h3 class="fw-bolder" style="color: #076343">Đặc điểm các lớp bơi kèm riêng</h3>
                    <p class="fs-6 text-muted">Tại CBD, chất lượng lớp bơi là ưu tiên hàng đầu của chúng tôi</p>
                </div>
                <div class="list-widget">
                    <ul class="elementor-items">
                        <li class="elementor-item"><i class="icon-check fa-solid fa-circle-check"></i>Học bơi cam kết chất lượng: Biết bơi 100% đảm bảo!</li>
                        <li class="elementor-item"><i class="icon-check fa-solid fa-circle-check"></i>Giáo viên 1 kèm 1 xuống hồ cùng bạn!</li>
                        <li class="elementor-item"><i class="icon-check fa-solid fa-circle-check"></i>Lịch học linh động: 2-3 buổi/tuần; 1h/buổi</li>
                        <li class="elementor-item"><i class="icon-check fa-solid fa-circle-check"></i>Giáo viên có bằng cấp chuyên môn Bơi lội, Cứu hộ</li>
                        <li class="elementor-item"><i class="icon-check fa-solid fa-circle-check"></i>Có cả HLV Nam và Nữ</li>
                        <li class="elementor-item"><i class="icon-check fa-solid fa-circle-check"></i>Được đổi lịch học, đổi giáo viên nếu không hài lòng</li>
                    </ul>
                </div>
                <a href="tel:0796783225" class="btn btn-success" style="margin: 0 0 10px 25px">Tư vấn cho tôi</a>
            </div>
            <div class="col-md-6 order-md-1">
                <img th:src="@{/assets/img/hoc-boi-1.jpg}" alt="hoc-boi-1" class="img-fluid rounded-3" />
            </div>
        </div>
    </div>
</body>
</html>